@page "/esp"
@using AncientMountain.Managed.Services
@using SkiaSharp.Views.Blazor
@inject SignalRService SignalRService
@inject RadarService RadarService
@inject NavigationManager Navigation

<div class="canvas-container">
    <div class="connection-controls">
        <label title="Your in-game name. This will make the radar focus on you.">Your Name: </label>
        <input type="text" @bind="name" class="name-input" maxlength="25" spellcheck="false" />
    </div>
    <div class="canvas-wrapper">
        <SkiaSharp.Views.Blazor.SKCanvasView OnPaintSurface="OnPaintSurface" class="skia-canvas" EnableRenderLoop="true" />
    </div>
</div>

@code {
    private string name = "localPlayer";

    private void OnPaintSurface(SKPaintSurfaceEventArgs args)
    {
        RadarService.RenderESP(args, name, null);
        StateHasChanged();
    }
}
